# ==========================================
# 1. Compilación y Salida (Java & Maven)
# ==========================================
target/
out/
*.class

# Archivos de depuración de fallos de la Máquina Virtual de Java
hs_err_pid*
replay_pid*

# ==========================================
# 2. IDE - IntelliJ IDEA
# ==========================================
.idea/
*.iml
*.iws
*.ipr

# ==========================================
# 3. Configuraciones Locales y Seguridad (¡Sensible!)
# ==========================================
.env
.env.local
.env.*.local

# Certificados, llaves privadas y keystores de Java
*.jks
*.p12
*.pem

# ==========================================
# 4. Archivos Temporales y Logs
# ==========================================
*.log
*.temp
*.tmp
.metadata/

# ==========================================
# 5. Archivos del Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db